body {
    background-color: rgb(17, 17, 17);
    display: grid;
    grid-template-rows: 150px 1fr 50px;
}

header {
    background-color: rgb(15, 8, 61);
    text-align: center;
    color: white;
    border-radius: 6px;
    font-family: "Oswald", sans-serif;
    grid-row: 1 / 2;
}

main {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    background-color: slategray;
    font-family: "Roboto", sans-serif;
    margin: 1rem auto;
    padding: 2rem;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(66, 75, 84);
    border-radius: 10px;;
    width: 400px;
}

.card h3 {
    text-align: center;
}

footer {
    grid-row: 3 / 4;
    background-color: rgb(15, 8, 61);
    text-align: center;
    padding: 1rem;
    border-radius: 6px;
    color: white;
    font-family: "Oswald", sans-serif;
}